<div class="container">
  <div class="row">
    <div class="col-md-12 primary">
      <div class="pad10 white--text font15">Add New Purchase</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-left pad10">
      <%= link_to 'Home', root_path %> > <%= link_to 'Purchases', purchases_path %> > New
    </div>
  </div>
  <section>
    <%= form_for @purchase do |f| %>
      <%= render "purchases/form", :f => f %>
    <% end %>
  </section>
  
</div>