<div class="container">
  <div class="row">
    <div class="col-md-12 text-center primary mar10">
      <%= link_to entities_path do %>
        <div class="pad30 white--text font30">Entity</div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center primary mar10">
      <%= link_to sales_path do %>
        <div class="pad30 white--text font30">Sale</div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center primary mar10">
      <%= link_to payments_path do %>
        <div class="pad30 white--text font30">Payment Received</div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center primary mar10">
      <%= link_to purchases_path do %>
        <div class="pad30 white--text font30">Purchase</div>
      <% end %>
    </div>
  </div>
</div>