<div class="container">
  <div class="row">
    <div class="col-md-12 primary">
      <div class="pad10 white--text font15">Edit Sale</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-left pad10">
      <%= link_to 'Home', root_path %> > <%= link_to 'Sales', sales_path %> > Edit
    </div>
  </div>
  <section>
    <%= form_for @sale do |f| %>
      <%= render "sales/form", :f => f %>
    <% end %>
  </section>
</div>