<% flash.each do |name, msg| %>
  <div class="row">
    <div class="col-md-12 <%= name == 'notice' ? "success" : "danger" %>">
      <div class="pad10 white--text"><%= msg %></div>
    </div>
  </div>
<% end %>